In [1]:
import pandas as pd

In [6]:
pd.read_csv('data/gapminder_gdp_oceania.csv')

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [7]:
data = pd.read_csv('data/gapminder_gdp_oceania.csv')
print(data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [8]:
data.columns

Index(['country', 'gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982',
       'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002',
       'gdpPercap_2007'],
      dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         2 non-null      object
 1   gdpPercap_1952  2 non-null      float64
 2   gdpPercap_1957  2 non-null      float64
 3   gdpPercap_1962  2 non-null      float64
 4   gdpPercap_1967  2 non-null      float64
 5   gdpPercap_1972  2 non-null      float64
 6   gdpPercap_1977  2 non-null      float64
 7   gdpPercap_1982  2 non-null      float64
 8   gdpPercap_1987  2 non-null      float64
 9   gdpPercap_1992  2 non-null      float64
 10  gdpPercap_1997  2 non-null      float64
 11  gdpPercap_2002  2 non-null      float64
 12  gdpPercap_2007  2 non-null      float64
dtypes: float64(12), object(1)
memory usage: 336.0+ bytes

In [13]:
data = pd.read_csv('data/gapminder_gdp_oceania.csv',index_col='country')
data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1952  2 non-null      float64
 1   gdpPercap_1957  2 non-null      float64
 2   gdpPercap_1962  2 non-null      float64
 3   gdpPercap_1967  2 non-null      float64
 4   gdpPercap_1972  2 non-null      float64
 5   gdpPercap_1977  2 non-null      float64
 6   gdpPercap_1982  2 non-null      float64
 7   gdpPercap_1987  2 non-null      float64
 8   gdpPercap_1992  2 non-null      float64
 9   gdpPercap_1997  2 non-null      float64
 10  gdpPercap_2002  2 non-null      float64
 11  gdpPercap_2007  2 non-null      float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [12]:
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

Read the data in gapminder_gdp_americas.csv (which should be in the same directory as gapminder_gdp_oceania.csv) into a variable called `americas` and display its summary statistics.

In [14]:
americas = pd.read_csv('data/gapminder_gdp_americas.csv', index_col='country')
americas.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,9287.677107,11003.031625
std,3001.727522,3312.381083,3421.740569,4160.885560,4754.404329,5355.602518,5530.490471,6665.039509,7047.089191,7874.225145,8895.817785,9713.209302
min,1397.717137,1544.402995,1662.137359,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
25%,2428.237769,2487.365989,2750.364446,3242.531147,4031.408271,4756.763836,4258.503604,4140.442097,4439.450840,4684.313807,4858.347495,5728.353514
50%,3048.302900,3780.546651,4086.114078,4643.393534,5305.445256,6281.290855,6434.501797,6360.943444,6618.743050,7113.692252,6994.774861,8948.102923
75%,3939.978789,4756.525781,5180.755910,5788.093330,6809.406690,7674.929108,8997.897412,7807.095818,8137.004775,9767.297530,8797.640716,11977.574960
max,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090

In [15]:
americas.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Brazil,Americas,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
Canada,Americas,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
Chile,Americas,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850

In [16]:
americas.tail()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Puerto Rico,Americas,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.70901
Trinidad and Tobago,Americas,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.50924
United States,Americas,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.65309
Uruguay,Americas,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.46299
Venezuela,Americas,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.80569

In [17]:
americas.to_csv('test-americas.csv')

In [19]:
americas.iloc[0,0]

'Americas'

In [20]:
americas.iloc[1,1]

2677.3263469999997

In [21]:
americas.iloc[0,1]

5911.315053

In [22]:
americas.loc["Honduras","gdpPercap_1952"]

2194.926204

In [23]:
americas.loc["Nicaragua",:]

continent         Americas
gdpPercap_1952     3112.36
gdpPercap_1957     3457.42
gdpPercap_1962     3634.36
gdpPercap_1967     4643.39
gdpPercap_1972     4688.59
gdpPercap_1977     5486.37
gdpPercap_1982     3470.34
gdpPercap_1987     2955.98
gdpPercap_1992     2170.15
gdpPercap_1997     2253.02
gdpPercap_2002     2474.55
gdpPercap_2007     2749.32
Name: Nicaragua, dtype: object

In [30]:
americas.index

Index(['Argentina', 'Bolivia', 'Brazil', 'Canada', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominican Republic', 'Ecuador', 'El Salvador',
       'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua',
       'Panama', 'Paraguay', 'Peru', 'Puerto Rico', 'Trinidad and Tobago',
       'United States', 'Uruguay', 'Venezuela'],
      dtype='object', name='country')

In [31]:
americas.columns

Index(['continent', 'gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982',
       'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002',
       'gdpPercap_2007'],
      dtype='object')

In [33]:
americas.loc['Argentina','gdpPercap_2002']

8797.640716

In [34]:
americas.loc[:,'gdpPercap_2002']

country
Argentina               8797.640716
Bolivia                 3413.262690
Brazil                  8131.212843
Canada                 33328.965070
Chile                  10778.783850
Colombia                5755.259962
Costa Rica              7723.447195
Cuba                    6340.646683
Dominican Republic      4563.808154
Ecuador                 5773.044512
El Salvador             5351.568666
Guatemala               4858.347495
Haiti                   1270.364932
Honduras                3099.728660
Jamaica                 6994.774861
Mexico                 10742.440530
Nicaragua               2474.548819
Panama                  7356.031934
Paraguay                3783.674243
Peru                    5909.020073
Puerto Rico            18855.606180
Trinidad and Tobago    11460.600230
United States          39097.099550
Uruguay                 7727.002004
Venezuela               8605.047831
Name: gdpPercap_2002, dtype: float64

In [35]:
'this is a message'[ 4:9 ]

' is a'

In [38]:
americas.loc['Mexico':'Uruguay','gdpPercap_1972':'gdpPercap_1982']

                     gdpPercap_1972  gdpPercap_1977  gdpPercap_1982
country
Mexico                  6809.406690     7674.929108     9611.147541
Nicaragua               4688.593267     5486.371089     3470.338156
Panama                  5364.249663     5351.912144     7009.601598
Paraguay                2523.337977     3248.373311     4258.503604
Peru                    5937.827283     6281.290855     6434.501797
Puerto Rico             9123.041742     9770.524921    10330.989150
Trinidad and Tobago     6619.551419     7899.554209     9119.528607
United States          21806.035940    24072.632130    25009.559140
Uruguay                 5703.408898     6504.339663     6920.223051

In [39]:
"this is text"

'this is text'

In [40]:
subset = americas.loc['Mexico':'Uruguay','gdpPercap_1972':'gdpPercap_1982']

In [41]:
subset.max()

gdpPercap_1972    21806.03594
gdpPercap_1977    24072.63213
gdpPercap_1982    25009.55914
dtype: float64

In [45]:
americas.loc['Honduras','gdpPercap_1962':'gdpPercap_2007'].max()

3548.3308460000003

In [48]:
subset > 10000

                     gdpPercap_1972  gdpPercap_1977  gdpPercap_1982
country
Mexico                        False           False           False
Nicaragua                     False           False           False
Panama                        False           False           False
Paraguay                      False           False           False
Peru                          False           False           False
Puerto Rico                   False           False            True
Trinidad and Tobago           False           False           False
United States                  True            True            True
Uruguay                       False           False           False

In [49]:
subset[subset > 10000]

                     gdpPercap_1972  gdpPercap_1977  gdpPercap_1982
country
Mexico                          NaN             NaN             NaN
Nicaragua                       NaN             NaN             NaN
Panama                          NaN             NaN             NaN
Paraguay                        NaN             NaN             NaN
Peru                            NaN             NaN             NaN
Puerto Rico                     NaN             NaN     10330.98915
Trinidad and Tobago             NaN             NaN             NaN
United States           21806.03594     24072.63213     25009.55914
Uruguay                         NaN             NaN             NaN

In [51]:
subset[subset > 1000].describe()

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982
count        9.000000        9.000000        9.000000
mean      7619.494764     8476.658603     9129.376960
std       5604.922524     6130.199920     6385.946934
min       2523.337977     3248.373311     3470.338156
25%       5364.249663     5486.371089     6434.501797
50%       5937.827283     6504.339663     7009.601598
75%       6809.406690     7899.554209     9611.147541
max      21806.035940    24072.632130    25009.559140

1. Load the European data set as `europe`.
2. Find the per-capita GDP of Serbia in 2007.

Assume Pandas has been imported and the Gapminder GDP data for Europe has been loaded. Write an expression to select each of the following:

1. GDP per capita for all countries in 1982.
2. GDP per capita for Denmark for all years.
3. GDP per capita for all countries for years after 1985.
4. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.

In [54]:
americas['gdpPercap_2007']/americas['gdpPercap_1952']

country
Argentina              2.161851
Bolivia                1.427595
Brazil                 4.298739
Canada                 3.195102
Chile                  3.343074
Colombia               3.267819
Costa Rica             3.671499
Cuba                   1.601726
Dominican Republic     4.310868
Ecuador                1.951461
El Salvador            1.879194
Guatemala              2.135726
Haiti                  0.652933
Honduras               1.616606
Jamaica                2.525721
Mexico                 3.443687
Nicaragua              0.883355
Panama                 3.954710
Paraguay               2.137387
Peru                   1.971228
Puerto Rico            6.271564
Trinidad and Tobago    5.956629
United States          3.070062
Uruguay                1.856200
Venezuela              1.484539
dtype: float64